[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# `string-template-indent` is disabled because it depends on `multiline-expression-wrapping`.
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

ktlint_standard_function-signature = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_blank-line-before-declaration = disabled
