name: CI
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assemble
      - run: ./gradlew check
      - run: ./gradlew -PRELEASE_SIGNING_ENABLED=false publishToMavenLocal
